<h1>RentInform#Log In</h1>
<br>
<div id='welcome'>
  <h2>Welcome back</h2>
</div>
<br>
<div id='google'>
  <%= link_to "Log In with Google", google_login_path %>
</div>
<br>
<div id='signup'>
  <p>Don't have an account? <%= link_to "Sign Up", sign_up_path %></p>
</div>
<br>
<div id='placeholder'>
  <img src="https://images.unsplash.com/photo-1611095565995-d09bbf618f6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80">
  <%#= image_tag 'placeholder/placeholder-login.jpeg'%>
</div>
