<h1>RentInform#Log In</h1>
<br>
<div id='welcome'>
  <h2>Welcome back</h2>
</div>
<br>
<div id='google'>
  <%= link_to "Log In with Google", google_login_path %>
</div>
<br>
<div id='signup'>
  <p>Don't have an account? <%= link_to "Sign Up", sign_up_path %></p>
</div>
<br>
<div id='placeholder'>
  <%= image_tag 'placeholder/placeholder-login.jpeg'%>
</div>
