<div class='mt-28 px-20'>
  <div id='log-in-box' class='flex border border-gray-300 rounded-lg shadow-lg overflow-hidden'>
    <div id='welcome' class='flex flex-col items-center justify-center w-1/2 gap-6'>
      <div id='title' class='text-4xl font-bold'>
        Welcome back
      </div>
      
      <%= render partial: 'shared/google_button', locals: { path: '/auth/google_oauth2' } %>

      <div id='sign-up' class='text-sm'>
        Don't have an account?
        <a href='/sign_up' class='text-blue-700 underline hover:text-blue-900'>Sign up</a>
      </div>
    </div>
    <div id='log-in-img' class='w-1/2'>
      <img class='w-full h-full object-cover' style='aspect-ratio: 1/1' src="https://images.unsplash.com/photo-1611095565995-d09bbf618f6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80">
    </div>
  </div>
</div>