<div class='mt-28 px-20'>
  <div id='sign-up-box' class='flex border border-gray-300 rounded-lg shadow-lg overflow-hidden'>
  <div id='sign-up-text' class='flex flex-col items-center justify-center w-1/2 gap-6'>
    <div id='title' class='text-4xl font-bold'>
      Find your home
    </div>
    
    <%= render partial: 'shared/google_button' %>

    <div id='login' class='text-sm'>
      Already have an account?
      <a href='/login' class='text-blue-700 underline hover:text-blue-900'>Log in</a>
    </div>
  </div>
  <div id='sign-up-img' class='w-1/2'>
    <img class='w-full h-full object-cover' style='aspect-ratio: 1/1' src="https://images.unsplash.com/photo-1606788075819-9574a6edfab3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=868&q=80">
  </div>
  </div>
</div>
