<h1>RentInform#Sign Up</h1>
<br>
<div id='disclaimer'>
  <h2>RentInfrom uses Google for new user creation</h2>
</div>
<br>
<div id='decorative'>
  <%# Whatever decorative text we want will go on the line below %>
  <h2>Find your home</h2>
</div>
<br>
<div id='google'>
  <%= link_to "Sign Up with Google", "https://accounts.google.com/signup/v2/createaccount?biz=false"%>
</div>
<br>
<div id='login'>
  <p>Already have an account? <%= link_to "Log In", login_path %></p>
</div>
<div id='placeholder'>
  <%= image_tag 'placeholder/placeholder-signup.png'%>
</div>