<div class='fixed bottom-0 left-0 overflow-y-auto shadow-lg' style="top: 80px; min-width: 550px; max-width: 550px;">
  <%= render partial: 'shared/property_details' %>
</div>

<div class='fixed bottom-0 right-0' style="top: 80px; left: 550px">
  <div id='Map' class="h-full">
    <%= image_tag(map(@property.lat, @property.lon), alt: 'Map', class: "object-cover h-full w-full") %>
  </div>
</div>