<div class='flex flex-col'>
  <div id='Result'>
    <div class="text-2xl font-bold">
      About <%= @property.street.titleize %>
    </div>
    <div class='flex flex-col px-6 py-4 border border-gray-400 rounded-md gap-4'>
      <%= render partial: 'shared/property_details' %>
    </div>
  </div>

  <div class='flex flex-row my-2'>
    <div id='Map' class='border border-gray-400 p-2 rounded-md flex flex-col align-self: center'>
      <%= image_tag map(@property.lat, @property.lon) %>
    </div>

    <div id='Nearby' class='border border-gray-400 p-2 rounded-md flex flex-grow'>
      Nearby places will go here
    </div>
  </div>
</div>
