<div class='mt-2 shadow-lg border border-gray-200 p-4 rounded-md flex-1 flex items-center gap-4'>
  <img class='w-16 h-16' src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Eo_circle_green_checkmark.svg/512px-Eo_circle_green_checkmark.svg.png?20200417132424" alt="Green circle with white checkmark">
  <div>
    <p class="font-semibold text-xl">Certified to Rent</p>
    <p class="text-xs">This property is code-compliant. <a class='text-xs text-blue-700 underline hover:text-blue-900' href='https://www.phila.gov/documents/partners-in-good-housing-brochures/' target="_blank">Learn more</a></p>
    
  </div>
</div>