<script src="https://accounts.google.com/gsi/client" async></script>
<div id="g_id_onload"
    data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="/auth/google_oauth2"
     data-auto_prompt="false">
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
</div>