<div id='Login'>
  <%= link_to "Login", login_path %>
</div>
<br>
<div id='Signup'>
  <%= link_to "Sign Up", sign_up_path %>
<br>

<div id="Description">
  <h3>Find a rental that's safe and fit for you</h3>
  We provide you with code-compliant properties so you can focus on finding the best home for you.
</div> <br>

<div id="Image_one">
  <img src="https://images.unsplash.com/photo-1559338391-e14b84a22772?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80">
  <%#= image_tag "placeholder/Rick_rollin.jpeg" %>
</div><br><br><br><br>

<div id="mid_page">
  <h3>Sometimes pictures aren't enough.</h3><br>
  Smoke Detectors? 
  <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=874&q=80">
  <%#= image_tag "placeholder/Mini_rollin.jpeg" %>
  Safe neighborhood? 
  <img src="https://images.unsplash.com/photo-1597026405082-eda9beae7513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80">
  <%#= image_tag "placeholder/Mini_rollin.jpeg" %>
  Lifestyle fit? 
  <img src="https://images.unsplash.com/photo-1584278140365-2ab8bff2be82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
  <%#= image_tag "placeholder/Mini_rollin.jpeg" %>
  </div>


<div id="bottom_page">
  <h3>With RentInform</h3><br>
  <!-- little checkmark image here-->
  City Code Compliance Check<br>
  <!-- little checkmark image here-->
  Walk Score<br>
  <!-- little checkmark image here-->
  Bike Score<br>
  <!-- little checkmark image here-->
  Transit Score<br>
  <!-- little checkmark image here-->
  Safe Place Score<br>
  <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=780&q=80">
  <%#= image_tag "placeholder/Rick_rollin.jpeg" %>
  </div>